* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    font-family: system-ui, sans-serif;
}

.calculator {
    width: 320px;
    background-color: #2b2b2b;
    padding: 16px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 12px;
}

.display {
    width: 100%;
    height: 60px;
    background-color: #111;
    color: #fff;
    font-size: 28px;
    padding: 10px;
    text-align: right;
    border-radius: 8px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn_number {
    background: #3a3a3a;
    color: #fff;
}

.btn_operator {
    background: #ff9500;
    color: #fff;
}

.btn_clearAll, .btn_clearLast, .btn_percent {
    background: #5a5a5a;
    color: #fff;
}

.btn_equals {
    background: #34c759;
    color: #fff;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: scale(0.95);
}
